language: android
dist: trusty
sudo: false
jdk:
  - oraclejdk8
android:
  components:
    - tools
    - android-26
    - build-tools-26.0.2
    - platform-tools
before_cache:
  - rm -f $HOME/.gradle/caches/modules-2/modules-2.lock
cache:
  directories:
    - "${TRAVIS_BUILD_DIR}/gradle/caches/"
    - "${TRAVIS_BUILD_DIR}/gradle/wrapper/dists/"
    - "$HOME/.gradle/caches/"
    - "$HOME/.gradle/wrapper/"
script:
  - cp -v sample_config_files/sample_keystore.properties keystore.properties
  - keytool -genkeypair -dname "cn=TravisCI, ou=TravisCI, o=Sun, c=US" -alias business
    -keypass kpi135 -keystore android.keystore -storepass ab987c -validity 20000
after_success:
  - bash scripts/update_apk.sh
branches:
  only:
    - master
    - development
