language: android
dist: trusty
sudo: false
jdk:
- oraclejdk8
android:
  components:
  - tools
  - android-23
  - build-tools-26.0.2
  - build-tools-29.0.2
  - platform-tools
before_cache:
- rm -f $HOME/.gradle/caches/modules-2/modules-2.lock
cache:
  directories:
  - "${TRAVIS_BUILD_DIR}/gradle/caches/"
  - "${TRAVIS_BUILD_DIR}/gradle/wrapper/dists/"
  - "$HOME/.gradle/caches/"
  - "$HOME/.gradle/wrapper/"
script:
- cp -v sample_config_files/sample_keystore.properties keystore.properties
- keytool -genkeypair -dname "cn=TravisCI, ou=TravisCI, o=Sun, c=US" -alias business
  -keypass kpi135 -keystore android.keystore -storepass ab987c -validity 20000
after_success:
- bash scripts/update_apk.sh
branches:
  only:
  - master
  - development
env:
  global:
    secure: LPcDdY1CWOxfAFCKnDusmhF+LRIsN3wViDvNiRTEap7x2r7tqEnx/KhKwFz6tdEIP8kE2KWkTjPP+JObz+2nmOidzfmxQQMghBPgvADs5rUh0ZZOL/QioUoja8qITxp8ajzSjw5Vl9LzXaoO44a9+QotUt2xCsRwHDXwweoXYVLwGta46fvNEl0WjRhb7CVCxypOOYRnOOEYgR91Vwx9uZq6cD9VWG56mga7Qj4ejv0HXgXfRUNX4/S/YDDRcD1kPsY4BmYvYn0QFuLEzqAuTGfLHfHqRb47dBaHAR/JlcZwezl6BFVYTf3C+eKtHB7US/TOLHUpu7zCsJpcl16vEP9rII6TaHhIRa/J+5wEpCwVj867PpXTdX/K8pCguCm97PLJrzzFr+yo0KOv+YnyoRoYR+571t/ofrKZgEc+VPQD5DFiRFbgeG2MxamzNV6LPFO7F++fdzQvNXQ5CuGhrroMpauRkYqQPv/c1QrC3HAlimN+BQReaC1Kk+mVZflEx6NCvop4Fk0b3R10yTahSMDbpEXY1pYkMyDahDlKAFtniV0bdtd69ED3RVN9zTiqTPTH0SEbr4GvA2qV6UwFaUwEQKzudqtP/MA9kRJjadaha2a9xDGJti/rNxFNFLrdfEU2zj4dGUEfs8nsbIPpLLN4AHPZUKkbuR/4//OZOrY=
